*.user
build-*
*.o
*.moc
moc_*
*pro.user
src/*.dylib
Makefile
.qmake.stash

src/Makefile.*
test/Makefile.*
app/Makefile.*

*.dll
*.a
*.ilk
*.lib
*.pdb

# Compiled stuff folders
release/
debug/
test/test.app/
docs/

src/ui_mainwindow.h
src/ui_shoppingcart.h

.DS_Store
